<%= form_for(@finding) do |f| %>
<div class="span6">
  <% if @finding.errors.any? %>
    <div id="error_explanation">
      <h2>No se pudo guardar:</h2>
      <ul>
      <% @finding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id, 'Ingresa el código del libro' %><br />
    <%= text_field_tag :book_code %>

    <div id="book_info"></div>
  </div>

  <div class="field">
    <%= f.label :how, '¿Como te llego el libro?' %><br />
    <%= f.select :how, [['Por mano', 'Por mano'], ['Lo encontré', 'Lo encontré']] %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Guardar hallazgo', { id: "form_submit" } %>
  </div>
</div>
<div class="span6">
  <div class="field" style="height:100%;">
    <%= f.label '¿Donde lo encontraste?' %>
    <%= f.hidden_field :location %>
    <br />
    <div id="map_canvas"></div>
  </div>
</div>
<% end %>
