<%= form_for(@finding) do |f| %>
  <% if @finding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finding.errors.count, "error") %> prohibited this finding from being saved:</h2>

      <ul>
      <% @finding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id, 'Ingresa el código del libro' %><br />
    <%= text_field_tag :book_code %>

    <div id="book_info"></div>
    <!--
    <%= f.select :book_id, options_from_collection_for_select(Book.all, :id, :title) %>
    -->
  </div>

  <div class="field">
    <%= f.label '¿Donde lo encontraste?' %>
    <%= f.hidden_field :location %>
    <br />
    <div id="map_canvas"></div>
  </div>

  <div class="field">
    <%= f.label :how, '¿Donde?' %><br />
    <%= f.select :how, [['Por mano', 'Por mano'], ['Lo encontré', 'Lo encontré']] %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
