<h1>Listing findings</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>How</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @findings.each do |finding| %>
  <tr>
    <td><%= finding.book.title %></td>
    <td><%= finding.location %></td>
    <td><%= finding.how %></td>
    <td><%= link_to 'Show', finding %></td>
    <td><%= link_to 'Edit', edit_finding_path(finding) %></td>
    <td><%= link_to 'Destroy', finding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Finding', new_finding_path %>

<%= link_to 'Books', books_path %>
