#hola{style: 'padding-bottom: 40px;'}
  .container
    .row
      .span12
        %img{src: '/assets/diab/textologo.png', style: 'width: 510px;'}
    .row
      .span12{style: 'text-align:center;'}
        %img{src: '/assets/diab/texto.png', style: 'width: 685px;text-align:center;margin-top:20px; margin-bottom:40px;'}
    .row
      .span6{style: 'text-align:center;'}
        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "//www.youtube.com/embed/woYDS8Zn1-Q", :width => "467px", height: "263px"}
      .span6{style: 'text-align:center;'}
        %img{src: '/assets/diab/como.png', style: 'width: 52%;text-align:center;margin-top:20px;'}
        %a{href: '#quiero'}
          %img{src: '/assets/diab/paso1.png', style: 'height: 52px; margin-top:20px;'}
        %a{href: '#buzones'}
          %img{src: '/assets/diab/paso2.png', style: 'height: 52px; margin-top:20px;'}
    .row
      .span12{style: 'text-align:center;'}
        %img{src: '/assets/diab/parentesis.png', style: 'width: 680px;text-align:center;margin-top:30px; margin-bottom:20px;'}

#quiero{style: 'width: 100%; padding-top:40px;'}
  .container
    .row
      .span12.well
        .row
          .span12
            %h2{style: 'margin-bottom: 10px;' }
              Quiero liberar un libro
        .row
          = form_for(@book, url: printables_diab_path, html: { class: "form-horizontal", id: 'new_book_diab' }, remote: true ) do |f|
            = f.fields_for :releases do |u|
              .span4
                - if @book.errors.any?
                  #error_explanation
                    %h2
                      = pluralize(@book.errors.count, "error")
                      prohibited this book from being saved:
                    %ul
                      - @book.errors.full_messages.each do |msg|
                        %li= msg
                = f.hidden_field(:code, value: @book.code)
                .control-group
                  = f.label :title, 'Título *', class: 'control-label'
                  .controls
                    = f.text_field :title, required: 'required'
                    / <p class="help-block">asdasd</p>
                .control-group
                  = f.label :author, 'Autor *', class: 'control-label'
                  .controls
                    = f.text_field :author, required: 'required'
                    / <p class="help-block">asdasd</p>
                .control-group
                  = f.label :genre, 'Género', class: 'control-label'
                  .controls
                    = f.select :genre, Book.genre, required: 'required'
                    / <p class="help-block">asdasd</p>
                .control-group
                  = u.label :location, '¿A que buzón irás a dejar el libro?', class: 'control-label'
                  .controls
                    = u.select :location, Book.buzones, required: 'required', class: 'diab'
                .control-group
                  = u.label :username, '¿Cómo te llamas? *', class: 'control-label'
                  .controls
                    = u.text_field :username, required: 'required'
                    / <p class="help-block">asdasd</p>
                .control-group
                  = u.label :email, '¿Tu correo electrónico?*', class: 'control-label'
                  .controls
                    = u.text_field :email, type: 'email', required: 'required', 'data-validation-email-message' => 'Ingresa un correo válido'
                    %p.help-block
                .row
                  .span4
                    .msg_ajax
                .control-group.guardar_diab
                  .controls
                    %button.btn.btn-primary{:name => "commit", :type => "submit", :value => "Ingresar datos", id: 'save_release'} Guardar
                    %p.help-block * requerido
              .span8
                .control-group
                  = u.label :location, 'Recuerda ir a dejar tu libro al siguiente buzón:', class: 'control-label'
                  .controls
                    #map_canvas_diab

#diab{style: 'width: 100%; padding-top:40px;'}
  .container
    .row
      .span12
        %h2
          El día B
        %p
          El
          %strong 21 de septiembre
          vamos a celebrar el
          %strong Día de la Bibliodiversidad
          en el Museo de Bellas Artes, con
          %strong la mayor Liberación de Libros
          que se haya hecho en el país. Más de 100.000 títulos cubrirán el museo y sus alrededores, para que la gente pueda intercambiar libros, libre y gratuitamente. Para llegar a la meta de los 100.000 libros se dispondrán buzones en distintos puntos de la ciudad de Santiago, que recibirán los ejemplares que la gente quiera que sean liberados ese día. Los puntos son los siguientes: Museo Nacional de Bellas Artes, Centro Cultural GAM, Biblioteca Nacional, Biblioteca de Providencia, y también universidades y colegios que irán alternándose semana a semana.

        %p Los buzones permanecerán en los puntos señalados anteriormente hasta el lunes 15 de septiembre. Por cada libro, en excelente estado, que una persona aporte en estos buzones, podrá llevarse dos en el Día de la Bibliodiversidad (máximo 4 por persona). Para confirmar el aporte en los buzones, cada libro deberá ser registrado previamente en este sitio web.

        %p ¿Qué es la Bibliodiversidad? Es la expresión en el mundo del libro de la diversidad cultural, fundamento de un orden social diverso, justo y equitativo en un sistema en equilibrio con el ser humano.

        %p Para más información visita
        %ul
          %li
            El Día B:
            %a{ href: 'http://www.eldiab.org/' } http://www.eldiab.org/
          %li
            Asociación de Editores de Chile: http://www.editoresdechile.cl/
            %a{ href: 'http://www.editoresdechile.cl/' } http://www.editoresdechile.cl/
#participa{style: 'width: 100%; padding-top:40px;'}
  .container
    .row
      .span12{style: 'text-align:center;'}
        = form_for @message, url: participa_diab_path, html: {class: ""}, remote: true do |form|
          .row
            .span8.offset2.well
              .row
                .span12{style: 'text-align: left; margin-bottom: 5px;' }
                  %h2
                    Participa
              .row
                .span8
                  %h4 ¿Te gustaría participar ayudándonos a recolectar libros o en el museo de Bellas artes el día de la Bibliodiversidad? Déjanos un mensaje y nos comunicaremos contigo.
                  %br/
              .row
                .span3
                  = form.label :name, 'Nombre'
                  = form.text_field :name, required: 'required', class: "span3", placeholder: "Nombre"
                  = form.label :email
                  = form.text_field :email, type: 'email', required: 'required', class: "span3", placeholder: "Correo", 'data-validation-email-message' => 'Ingresa un correo válido'
                  .msg-participa
                .span4
                  .row
                    .span4
                      %label Mensaje
                      = form.text_area :body, class: "input-xlarge span5", rows: 10
                  .row
                    .span4
                      = form.submit "Enviar", class: "btn btn-primary pull-right", id: 'send-participa'
#monos
  .container
    .row
      .span12{style: 'text-align:center;'}
        %img{src: '/assets/diab/monos.png', style: 'width: 60%;text-align:center;margin-top:20px; margin-bottom:20px;'}

#footer{style: 'background-color: white; height: 61px;' }
  .container
    .row
      .span4
        %img.diab-footer-img{src: '/assets/diab/footer-organiza.png'}
        %a{href: 'http://www.labibliotecalibre.cl/'}
          %img.diab-footer-img{src: '/assets/diab/footer-bl.png'}
        %img.diab-footer-img{src: '/assets/diab/footer-mas.png'}
        %a{href: 'http://editoresdechile.cl/'}
          %img.diab-footer-img{src: '/assets/diab/footer-editores.png'}
      .span3
        %img.diab-footer-img{src: '/assets/diab/footer-patrocina.png'}
        %a{href: 'http://www.mnba.cl/'}
          %img.diab-footer-img{src: '/assets/diab/footer-coma.png'}
      .span5
        %a{href: 'http://www.eldiab.org/'}
          %img.diab-footer-img.pull-right{src: '/assets/diab/footer-logodiab.png'}
        %img.diab-footer-img.pull-right{src: '/assets/diab/footer-diab.png', style: 'margin-right: -30px;'}