<div class="span10 offset1">
	<div class="row">
		<h1 style="color:#727272">La Batalla de los Libros</h1>
	</div>
	<br><br>
	<div class="row">
		<div class="span2">
			<%= image_tag Post.find(1).small_picture.url %>
			<br><br>
			<%= Post.find(1).title %>
		</div>
		<div class="span2 offset1">
			<%= image_tag Post.find(2).small_picture.url %>
			<br><br>
			<%= Post.find(2).title %>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="span2">
		<%= form_for(Heart.new) do |f| %>
			<%= f.hidden_field :post_id, value: Post.find(1).id %>
			<%= f.submit 'Votar', class: 'btn btn-danger' %>
		<% end %>
		</div>
		<div class="span2 offset1">
		<%= form_for(Heart.new) do |f| %>
			<%= f.hidden_field :post_id, value: Post.find(2).id %>
			<%= f.submit 'Votar', class: 'btn btn-danger' %>
		<% end %>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5" data-colorscheme="light"></div>
</div>
</div>