	<div class="row">
		<div class="span12 text-center">
			<div id="myCarousel" class="carousel slide">
				<div class="carousel-inner">

					<div class="item active">
						<a href="http://www.labibliotecalibre.cl/posts/9"><img src="http://biblio-libre.s3.amazonaws.com/posts/pictures/000/000/009/large/Liberaci%C3%B3n_Balmaceda_Web.png?1391017655" alt="" /></a>
					</div>

					<!--
					<div class="item active">
						<img src="/assets/aire libre web-02.jpg" alt="" />
					</div>
					-->

					<div class="item">
						<a href="/concurso"><img src="/assets/concurso22.png" alt="" /></a>
					</div>

					<div class="item">
						<a href="<%= que_es_path %>"><img src="/assets/Fotos Portada-01.jpg" alt="" /></a>
					</div>

					<div class="item">
						<a href="<%= que_es_path %>"><img src="/assets/Fotos Portada-04.jpg" alt="" /></a>
					</div>

					<div class="item">
						<a href="http://www.catedraslibres.org"><img src="/assets/CL_Web-05.png" alt="" /></a>
					</div>

				</div>

				<a class="left carousel-control" style="top: 50%;" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="right carousel-control" style="top: 50%;" href="#myCarousel" data-slide="next">&rsaquo;</a>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="span8"> <!-- columna 1 -->

			<div class="row"> <!-- noticias -->
				<div class="span8">


					<% @posts.each do |post| %>
					<div class="row">
						<div class="span8">
							<div class="row">
								<div class="span8">
									<h4 style="margin-bottom: 5px;"><strong><%= link_to post.title, post %></strong></h4>
								</div>
							</div>
							<div class="row">
								<div class="span2">
									<a href="<%= url_for(post) %>" class="thumbnail">
										<% if post.small_picture.url(:thumb) != "/small_pictures/thumb/missing.png" %>
										<%= image_tag post.small_picture.url(:thumb) %>
										<% else %>
										<img src="/assets/160x111.png" alt="">
										<% end %>
									</a>
								</div>
								<div class="span6">
									<p>
										<%= post.description %>
									</p>
									<p><a class="btn" href="<%= url_for(post) %>">Leer más</a></p>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<% end %>

				</div>
			</div>

			<div class="row">
				<div class="span8">
					<h3>Galería de imágenes</h3><br />
					<div id="flickr_badge_wrapper" class="span8 center">
						<script type="text/javascript" src="http://www.flickr.com/badge_code.gne?count=21&display=random&size=square&nsid=101197672@N02&raw=1"></script>
					</div>
				</div>
			</div>


		</div>

		<div class="span4"> <!-- columna 2 -->
			<div class="row">
				<div class="span4">
					<a href="#modal_code" role="button" class="btn btn-large btn-block btn-primary" style="display: block; width: 95%;" data-toggle="modal">Registra libros</a>
				</div>
			</div>
			<div class="row" style="margin-top: 10px;">
				<div class="span2">
					<!-- <a href="#modal_prox" role="button" class="btn btn-large btn-block btn-primary" style="color: white; width: 90%;" data-toggle="modal">Libera tus libros</a> -->
					<%= link_to 'Libera tus libros', new_book_and_release_path, { class: "btn btn-large btn-block btn-primary", style: "color: white; width: 90%;" } %>
				</div>
				<div class="span2 pull-right">
					<%= link_to 'Dona tus libros', dona_path, { class: "btn btn-large btn-block btn-primary", style: "width: 90%;" } %>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<a href="/concurso" role="button" class="btn btn-large btn-block btn-success" style="display: block; width: 95%; margin-top: 10px;" data-toggle="modal">Concurso literario</a>
				</div>
			</div>

			<div class="row" style="margin-top: 20px;">
			<!--
				<div id="flickr_badge_wrapper" class="span6 center">
					<script type="text/javascript" src="http://www.flickr.com/badge_code.gne?count=21&display=random&size=square&nsid=101197672@N02&raw=1"></script>
				</div>
				-->
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="span6">
					<a class="twitter-timeline" href="https://twitter.com/LaBiblioLibre" data-widget-id="386647855428935680" width="370px">Tweets por @LaBiblioLibre</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="span6">
					<div class="fb-like-box" data-href="https://www.facebook.com/labibliotecalibre" data-width="100%" data-show-faces="false" data-header="false" data-stream="false" data-show-border="true"></div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<p><strong>Los últimos libros encontrados son:</strong></p>
				</div>
			</div>
			<div class="row" style="font-size: 10px;">
				<% @findings.each do |finding| %>
					<div class="span4">
						<img class="pull-left genero" src=<%= genre_to_img(finding.book.genre) %> alt="<%= @findings[0].book.genre%>" title="<%= @findings[0].book.genre%>" />
						<p>Autor: <%=  finding.book.author %></p>
						<p>Título: <%= finding.book.title %></p>
						<p>Hace <%= time_ago_in_words(finding.created_at.to_time) %></p>
					</div>
				<% end %>
			</div>
			<div class="row">
				<div class="span4">
					<p>Revisa como los libros son encontrados en distintas partes de la ciudad en el <%= link_to('mapa de hallazgos', findings_map_path) %>.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div id="modal_code" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Ingresa el código del libro:</h3>
		</div>
		<form id="new_finding_form" class="form form-horizontal"  action="/check_code" method="get">
			<div class="modal-body">
				<div class=".control-group">
					<%= label_tag :code, 'Código:', class: "control-label" %>
					<div class="controls">
						<%= text_field_tag :code, "" ,style: "text-transform:uppercase;" %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
				<input id="form_submit" class="btn btn-primary" name="commit" type="submit" value="Continuar" />
			</div>
		</form>
	</div>

	<!-- Modal -->
	<div id="modal_prox" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Próximamente</h3>
		</div>
		<div class="modal-body">
			¡Próximamente podrás liberar tus propios libros! Prontamente te diremos como hacerlo :)
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<!-- <hr /> -->
			<p><strong>Videos: </strong></p>
			<div class="row">
				<div class="span4">
					<iframe width="80%" height="200px" src="//www.youtube.com/embed/hnu9XNwQ4Co" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="span4">
					<iframe width="80%" height="200px" src="//www.youtube.com/embed/PrREMzGfT3g" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="span4">
					<iframe width="80%" height="200px" src="//www.youtube.com/embed/_SWGaAREyeM" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>