
<div class="span12">
	<div class="row">
        <div class="span12 pagination-centered">
          <img id="logo" src="/assets/logo.png" />
        </div>
    </div>
	<div class="row">
		<div class="row">
			<div class="span12 pagination-centered">
				<div class="row">
					<div class="span4">
						&nbsp;
					</div>
					<!--
				</div>
				<div class="row">
				-->
					<div class="span4">
						<h2>encuentra/lee/comparte</h2>
					</div>
					<div class="span4">
						<p class="pull-right">
							Esta es una iniciativa de <a href='http://www.catedraslibres.com/'>Cátedras Libres</a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="span12 negro">
						<p>La Biblioteca Libre es una iniciativa que promueve el intercambio gratuito de libros: las personas dejan o toman ejemplares de su interés.

						Los libros de La Biblioteca Libre no son de nadie en particular y son de todos en general.

						Una vez que leas los libros no los dejes en tu casa juntando polvo, pásalos a alguien más, que sigan su rumbo por el mundo.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<div class="row  pagination-centered">
					<h2>¿Tienes un libro?</h2>
					<a href="#modal_code" role="button" class="btn btn-primary btn-large" data-toggle="modal">¡REGISTRALO ACÁ!</a>
				</div>
				<div class="row">
					<div class="span5 center">
						<div class="negro well" style="margin-top: 30px">
							<p>Los últimos libros encontrados son:</p>
							<ol>
								<% for finding in @findings %>
									<li><%= finding.book.title %>, hace <%= time_ago_in_words(finding.created_at.to_time) %></li>
								<% end %>
							</ol>
							<p>Revisa como los libros son encontrados en distintas partes de la ciudad en el <%= link_to('mapa de hallazgos', findings_map_path) %>.</p>
						</div>
					</div>
				</div>
			</div>
				<div id="modal_code" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">Ingresa el código del libro:</h3>
				  </div>
				  <form id="new_finding_form" class="form form-horizontal"  action="/check_code" method="get">
					  <div class="modal-body">

					  				<div class=".control-group">
							        	<%= label_tag :code, 'Código:', class: "control-label" %>
							        	<div class="controls">
							        		<%= text_field_tag :code, "" ,style: "text-transform:uppercase;" %>
							        	</div>
							        	<!-- <div id="book_info"></div> -->
					      			</div>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
					    <input id="form_submit" class="btn btn-primary" name="commit" type="submit" value="Continuar" />
					  </div>
				  </form>
				</div>

			<div class="span6">
				<iframe width="420" height="315" src="http://www.youtube.com/embed/UWNlLrFS1Fw?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
<!--
			<div class="span6 pagination-centered">
				<h2>¿Quieres liberar un libro?</h2>
				<p><%= link_to '¡LIBERALO ACÁ!', new_release_path, { class: "btn btn-primary btn-large", style: "color: white;" } %></p>
			</div>
-->
		</div>

		<div class="row">
			<div class="alert alert-info negro">
					<p><strong>Próxima liberación:</strong> ¡Nueva estación para la biblioteca itinerante! Por octava vez La Biblioteca Libre abre sus puertas y el sábado 3 de agosto más de 1.000 libros serán liberados, desde clásicos como "Rayuela" hasta las "Patoaventuras".</p>

					<p>Por cada libro que liberes, te podrás llevar 2 libros (con un tope de 5 libros). No es un trueque, porque los libros que liberes serán tomados por otras personas.</p>

					<p>En esta ocasión estaremos en el Museo Colonial San Francisco. Habrán visitas guiadas y cuentacuentos dentro del museo!</p>

					<p>Más información en Facebook: <a href="https://www.facebook.com/events/540972369291967/">8ª Liberación de Libros</a></p>
			</div>
			<div class="well well-small center negro">
					<p>Visítanos en <a href="https://www.facebook.com/labibliotecalibre">Facebook</a></p>
					<p>¿Tienes libros y quieres donarlos a nuestra biblioteca? Mándanos <%= link_to('un mensaje', contact_path) %> y te contactaremos.</p>
			</div>
		<!--
			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        Noticias &#9660;
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse in">
			      <div class="accordion-inner">
			      	<p> Por quinta vez La Biblioteca Libre abre sus puertas y este sábado 22 de junio liberaremos más de 800 libros, desde clásicos como "Don Quijote" hasta best-sellers como el "El Código Da Vinci", ;)<P>
			      	<p>En esta ocasión estaremos en la terraza Neptuno del Cerro Santa Lucía. El lugar está a pasos de la estación de metro Santa Lucía.</p>
			      	<p> Más información en facebook: <a href="https://www.facebook.com/events/321310498000361/">5º Liberación de Libros</a></p>

			      	<p> ¡Tenemos nueva estación para la biblioteca itinerante! Por cuarta vez La Biblioteca Libre abre sus puertas y este domingo 9 de junio liberaremos más de 700 libros, desde clásicos como "Hijo de Ladrón" hasta la última moda: "50 sombras de Grey", ;) </p>
			      	<p>En esta ocasión estaremos en el Espacio Urbano Las Rejas, cumpliendo con nuestra visita a la comuna de Estación Central. El lugar está a pasos de la estación de metro Las Rejas.</p>
			      	<p> Más información en facebook: <a href="https://www.facebook.com/events/355598767896715/">4º Liberación de Libros</a></p>

			      </div>
			    </div>
			  </div>
			</div>
		-->
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="fb-like pull-right" data-href="http://www.facebook.com/labibliotecalibre" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
		</div>
	</div>
</div>