<%= content_tag "div",
		id: "chart_data",
		data: {
			book1c: @battle.book1_count,
			book2c: @battle.book2_count,
			book1n: @battle.book1,
			book2n: @battle.book2 }	do %>
<% end %>

<div id="battle" class="row" data-battle="<%= @battle.id %>" >
	<div class="span12" style="text-align: center;">
		<% if @battle.picture.url(:large) != "/pictures/large/missing.png" %>
		<%= image_tag @battle.picture.url(:large) %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="span12 negro">
		<p id="notice"><%= notice %></p>
		<h3><%= @battle.title %></h3>
		<p>
			<%=raw @battle.content %>
		</p>

	</div>
</div>

<div class="row">
	<div class="span6 text-center">
		<div class="centered">
			<% if @battle.book1_picture.url(:medium) != "/pictures/medium/missing.png" %>
			<%= image_tag @battle.book1_picture.url(:medium), style: "margin: auto;" %>
			<% end %>
		</div>
		<h4 style="text-align: center;"><%= @battle.book1 %></h4>
		<h4 id='book1_count' style="text-align: center;"><%= @battle.book1_count %></h4>
		<br />
		<div class="centered">
			<%= link_to 'Vota!', '#', { id: "vote1", class: "btn btn-large btn-block btn-primary", style: "text-align: center	" } %>
		</div>
	</div>
	<div class="span6">
		<div class="centered">
			<% if @battle.book2_picture.url(:medium) != "/pictures/medium/missing.png" %>
			<%= image_tag @battle.book2_picture.url(:medium), style: "float: center;" %>
			<% end %>
		</div>
		<h4 style="text-align: center;"><%= @battle.book2 %></h4>
		<h4 id='book2_count' style="text-align: center;"><%= @battle.book2_count %></h4>
		<br />
		<div class="centered">
			<%= link_to 'Vota!', '#', { id: "vote2", class: "btn btn-large btn-block btn-primary"} %>
		</div>
	</div>
</div>

<!--
<% if (@battle.book1_count+@battle.book2_count)>0 %>
	<div class="row">
		<br />
		<div class="span12 progress">
	  	<div class="bar bar-warning" style="width:<%= (@battle.book1_count*100/(@battle.book1_count+@battle.book2_count))%>%;"></div>
	  	<div class="bar bar-danger" style="width:<%= (@battle.book2_count*100/(@battle.book1_count+@battle.book2_count))%>%;"></div>
		</div>
	</div>
<% end %>
-->

<div id="battle_chart" style="min-width: 310px; height: 80px; margin: 0 auto"></div>

<div class="row">
	<div class="span12">
		<br />
	</div>
</div>

<div class="row">
		<div class="span6">
			<hr />
				<div class="fb-like" data-href="<%= request.url.split('?').first %>" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
			<hr />
		</div>
	</div>

<div class="row">
	<div class="span12">
		<div class="fb-comments-unloaded" data-href="<%= request.url.split('?').first %>" data-numposts="15" data-colorscheme="light"></div>
	</div>
</div>

<div class="row">
	<%= user_signed_in? ? link_to('Edit', edit_battle_path(@battle)) + '  |' : '' %>
	<%= user_signed_in? ? link_to('Back', battles_path) + ' ' : '' %>
</div>