<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, 'Descripción corta' %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :bajada, 'Bajada de título' %><br />
    <%= f.text_area :bajada %>
  </div>
  <div class="field">
    <%= f.label :autor %><br />
    <%= f.text_field :autor %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :content %><br />
    <%= f.text_area :content, class: 'tinymce'%>
  </div>
 <div class="field">
    <%= f.label :tag_list, "Tags (separadas por coma)" %><br />
    <%= f.text_field :tag_list %>
  </div>
   <div class="field">
    <%= f.label :kind %><br />
    <%= f.select :kind, ["liberación", "noticia", "comunidad 1", "comunidad 2", "columna", "comunidad 3" ] %>
  </div>
  <div class="field">
    <%= f.label :picture, 'Foto: ' %> <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label :small_picture, 'Foto chica: ' %> <%= f.file_field :small_picture %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
