
<div class="row">
	<div class="span12" style="text-align: center;">
		<% if @post.picture.url(:large) != "/pictures/large/missing.png" %>
		 	<%= image_tag @post.picture.url(:large) %>
		<% end %>
	</div>
</div>
<br />
<div class="row">
	<div class="span12">
		<div class="well">
		 	<h2><%= @post.title %></h2>

		 	 <div class="fb-share-button" data-href="<%= request.original_url %>" data-type="button_count"></div>

		 	<br />
			<%=raw  @post.content %>
		</div>
	</div>
</div>


<div class="row">
	<div class="span12">
		<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5" data-colorscheme="light"></div>
	</div>
</div>