
<div class="row">
	<div class="span6" style="text-align: center; margin-left: 20px;">
		<% if @post.picture.url(:large) != "/pictures/large/missing.png" %>
		 	<%= image_tag @post.picture.url(:large) %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="span6" style="margin-lenft: 20px">
		<div class="well">
		 	<h2><%= @post.title %></h2>
		 	<br />
			<%=raw  @post.content %>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6" style="margin-lenft: 20px">
		<hr />
			<div class="fb-like" data-href="<%= request.original_url %>" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
		<hr />
	</div>
</div>

<div class="row">
	<div class="span6" style="margin-lenft: 20px">
		<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5" data-colorscheme="light"></div>
	</div>
</div>