<% if @post.kind == "columna" %>
	<div class="row">
		<div class="span6 offset1">
			 	<h2 style="color:#727272"><%= @post.title %></h2>
			 	<br />
			 	<%=raw @post.bajada %>
			 	<br>
			 	<div class="row">
			 		<div class="span1">
			 			<%= image_tag @post.small_picture.url(:thumb) %>
			 		</div>
			 		<div class="span3">
			 			<p style="color:#fff">.</p>
			 			<p><small><%= @post.autor %></small></p>
			 		</div>
			 	</div>
			 	<br><br>
				<%=raw  @post.content %>
		</div>
		<div class="span4 offset1">
			<% if @post.picture.url(:large) != "/pictures/large/missing.png" %>
			 	<%= image_tag @post.picture.url(:large) %>
			<% end %>
			<br><br><br>
			<h3> Más columnas </h3>
			<br>
				<% i=2 %>
				<% while i <= Post.last.id %>
				<% if i == 10 %>
							<% i=i+1 %>
						<% end %>
					<% if (Post.find_by_id(i) && Post.find(i).kind == "columna" && i!=@post.id) %>
						<div class="row">
						<div class="span1">
							<%= link_to (image_tag Post.find(i).picture.url(:thumb)), Post.find(i) %>
						</div>
						<div class="span2" style="margin-left: 8px">
							<%= link_to (Post.find(i).title), Post.find(i) %>
						</div>
						</div>
						<% i=i+1 %>
						<br>
					<% else %>
						<% i=i+1 %>
					<% end %>
				<% end %>
			</div>
		</div>
	<br>
	<div class="row">
		<div class="span6 offset1">
			<p>
			Etiquetas:
			<%= raw @post.tag_list.map { |t| link_to t, tag_path(t), {:style=>'color:#ff9900;', :class => "css_class"}}.join (', ') %>
			</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="span6 offset1">
			<hr />
				<div class="fb-like" data-href="<%= request.original_url %>" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="span6 offset1">
			<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5" data-colorscheme="light"></div>
		</div>
	</div>

<% elsif (@post.kind == "comunidad 1" or @post.kind == "comunidad 2" or @post.kind == "comunidad 3") %>
	<div class="row">
		<div class="span6 offset1">
			 	<h2 style="color:#727272"><%= @post.title %></h2>
			 	<br />
				<%=raw  @post.content %>
		</div>
		<div class="span4 offset1">
			<% if @post.picture.url(:large) != "/pictures/large/missing.png" %>
			 	<%= image_tag @post.picture.url(:large) %>
			<% end %>
			<br><br><br>
			<h3> Más comunidad </h3>
			<br>
			<% @last_posts.each do |last_post| %>
				<div class="row">
					<div class="span1">
						<%= link_to (image_tag last_post.small_picture.url(:thumb)), last_post %>
					</div>
					<div class="span2" style="margin-left: 8px">
						<%= link_to (last_post.title), last_post %>
					</div>
				</div>
				<br />
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="span6 offset1">
			<p>
			Etiquetas:
			<%= raw @post.tag_list.map { |t| link_to t, tag_path(t), {:style=>'color:#ff9900;', :class => "css_class"}}.join (', ') %>
			</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="span6 offset1">
			<hr />
				<div class="fb-like" data-href="<%= request.original_url %>" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="span6 offset1">
			<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5" data-colorscheme="light"></div>
		</div>
	</div>

<% elsif @post.kind == "especial" %>
	<div class="row">
		<div class="span6 offset1">
			<h2 style="color:#727272"><%= @post.title %></h2>
			<br />
		</div>
	</div>
	<div class="row">
		<div class="span6 offset1">
		<%= image_tag @post.picture %>
	</div>
	</div>
	<br>
	<div class="row">
		<div class="span6 offset1">
			<hr />
				<div class="fb-like" data-href="<%= request.original_url %>" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="span6 offset1">
			<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5" data-colorscheme="light"></div>
		</div>
	</div>

<% else %>
	<div class="row">
		<div class="span6 offset1">
			 	<h2 style="color:#727272"><%= @post.title %></h2>
			 	<br />
				<%=raw  @post.content %>
		</div>
		<div class="span4 offset1">
			<% if @post.picture.url(:large) != "/pictures/large/missing.png" %>
			 	<%= image_tag @post.picture.url(:large) %>
			<% end %>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="span6 offset1">
			<p>
			Etiquetas:
			<%= raw @post.tag_list.map { |t| link_to t, tag_path(t), {:style=>'color:#ff9900;', :class => "css_class"}}.join (', ') %>
			</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="span6 offset1">
			<hr />
				<div class="fb-like" data-href="<%= request.original_url %>" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="span11 offset1">
			<div class="fb-comments-unloaded" data-href="<%= request.url.split('?').first %>" data-numposts="5" data-colorscheme="light"></div>
		</div>
	</div>
<% end %>
