<% if @post.kind == "columna" %>
	<div class="row">
		<div class="span6 offset1">
			 	<h2 style="color:#727272"><%= @post.title %></h2>
			 	<br />
			 	<%=raw @post.bajada %>
			 	<%=raw @post.autor %>
				<%=raw  @post.content %>
		</div>
		<div class="span4 offset1">
			<% if @post.picture.url(:large) != "/pictures/large/missing.png" %>
			 	<%= image_tag @post.picture.url(:large) %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="span6 offset1">
			<hr />
				<div class="fb-like" data-href="<%= request.original_url %>" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="span6 offset1">
			<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5" data-colorscheme="light"></div>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="span6 offset1">
			 	<h2 style="color:#727272"><%= @post.title %></h2>
			 	<br />
				<%=raw  @post.content %>
		</div>
		<div class="span4 offset1">
			<% if @post.picture.url(:large) != "/pictures/large/missing.png" %>
			 	<%= image_tag @post.picture.url(:large) %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="span6 offset1">
			<hr />
				<div class="fb-like" data-href="<%= request.original_url %>" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="span6 offset1">
			<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5" data-colorscheme="light"></div>
		</div>
	</div>
<% end %>
