<div class="span2 offset1">
	<p style="color: #ffffff">.</p>
	<ul class="nav nav-pills nav-stacked">
		<%= nav_link 'Manifiesto', manifest_path %>
		<%= nav_link 'Normas', about_normas_path %>
		<%= nav_link 'Donaciones', about_donaciones_path %>
		<%= nav_link 'Equipo', about_equipo_path %>
		<%= nav_link 'Preguntas Frecuentes', about_faqs_path %>
		<%= nav_link 'Contacto', contact_path %>
	</ul>
</div>