<div class="row">
  <div class="span12">
    <img src="/assets/Concurso Literario_Web-01.png" alt="">
  </div>
</div>

<%= form_for @message, url: concurso_path, html: {class: ""} do |form| %>

  <div class="row">
    <div class="span12">

      <div class="row">
        <div class="span12">
          <br /><h4>Concurso Literario: Amores de Colegio</h4><br />
          <p>¿Tienes una historia que contar? ¿Algo mágico que expresar? El <strong>concurso literario</strong> de la Biblioteca Libre espera recibir tus experiencias de celos, desilusiones, declaraciones fallidas y/o vergonzosos actos públicos… Ahora, si eres uno de esos que sí lograron la atención de esa persona especial, no dudes compartir tu experiencia aquí.</p>

          <p>Son 5 páginas tamaño carta, como máximo de extensión, que puedes usar para contar tu vivencia (o la de otro si fuiste testigo de algo que crees que el mundo debiera saber). Puedes hacerlo utilizando el género literario que más te guste. </p>

          <p>En todo caso, no te tomes mucho tiempo pues la fecha límite para recibir tu escrito vence, irrevocablemente, <strong>el miércoles 30 de octubre a las 23:59 hrs</strong>.</p>

          <p>¿El premio? Los 10 textos más destacados serán publicados en un <strong>libro edición especial</strong> de la Biblioteca Libre.</p>

          <p>LLena el formulario de abajo con tus datos para poder concursar. No olvides adjuntar el archivo con tu texto. Además, aprovecha de revisar las <strong ><a href="/assets/Bases Concurso Literario_BL.pdf" target="_blank" style="color: #0055cc">bases</a></strong> del concurso por si te queda alguna duda.</p>

           <p>Recuerda que siempre puedes contactar al equipo de la Biblioteca Libre en biblioteca@catedraslibres.com en caso de consultas.</p>
          <br />
        </div>

      </div>

      <div class="well">
      <div class="row">
        <div class="span4">
          <%= form.label :name %>
          <%= form.text_field :name, class: "span4", placeholder: "Nombre" %>
          <%= form.label :email %>
          <%= form.text_field :email, class: "span4", placeholder: "Correo" %>
          <label>Archivo</label>
          <%= form.file_field :document, class: "span4" %>
        </div>
        <div class="span7">
          <div class="row">
            <div class="span7">
              <label>Mensaje</label>
              <%= form.text_area :body, class: "input-xlarge span7", rows: 10 %>
            </div>
          </div>
          <div class="row">
            <div class="span7">
              <%= form.submit "Enviar", class: "btn btn-primary pull-right" %>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>

  </div>
<% end %>