
<%= form_for @message, url: contact_path, html: {class: "well span8 negro"} do |form| %>
  <div class="row">
    <div class="span3">
      <%= form.label :name %>
      <%= form.text_field :name, class: "span3", placeholder: "Nombre" %>
      <%= form.label :email %>
      <%= form.text_field :email, class: "span3", placeholder: "Correo" %>
    <label>Asunto</label>
       <%= form.text_field :subject %>
    </div>
    <div class="span5">
      <label>Mensaje</label>
      <%= form.text_area :body, class: "input-xlarge span5", rows: 10 %>
    </div>
  
    <%= form.submit "Enviar", class: "btn btn-primary pull-right" %>
  </div>
<% end %>