<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @release.location %>
</p>

<p>
  <b>Book:</b>
  <%= @release.book_id %>
</p>


<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
