<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Biblio-Libre" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <div class="nav pull-right">
            <li><a href="#">F.A.Q</a></li> 
            <li><a href="#">Contacto</a></li>
            <% if  user_signed_in? %>
              <li><%= link_to('Salir', destroy_user_session_path, method: :delete) %></li>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="row">
        <div class="span12 center">
          <img id="logo" src="/assets/logoBL.png" />
        </div>
      </div>
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">              
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyCjFGRwHIUl0nLB59JL-4bWR-w2qc1auqo&sensor=true" %>
</html>
