<!DOCTYPE html>
<html>
<head>
  <title>Biblio Libre</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true&key=AIzaSyCjFGRwHIUl0nLB59JL-4bWR-w2qc1auqo' %>
</html>
